.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.title {
  margin-top: -8px;
  font-size: 54px;
  /* linear-gradient(to 方向, 開始色 位置の値%, 終了色 位置の値%,); */
  background-image: linear-gradient(90deg, #0b68ea 40%, #1cd5cf 60%);
  -webkit-text-fill-color: transparent;
  /* textの形にbackgroundをくり抜く */
  -webkit-background-clip: text;
  background-clip: black;
}
