.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.title {
  font-size: 54px;
  background-image: linear-gradient(90deg, #0b68ea 0%, #1cd5cf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
